@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(0, 0, 0);
  --secondary: #ff9119;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
